{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'Administrator/CSS/ajout.css'%}" />
    <link rel="stylesheet" href="{% static 'Client/CSS/styl.css' %}" />
    <title>Ajouter une Voiture</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li style="color: #fff;">AJOUTER UNE VOITURE DANS VOTRE LISTE</li>
        </ul>
        <img src="{% static 'Global/Images/logo.png' %}" alt="logo" />
      </nav>
    </header>
    <main>
      <!-- <h2>Ajouter une Voiture</h2> -->
      <form action="{% url 'myapp:ajouter' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <section class="container">
          <div class="image-grid">
            <div class="image-container" id="imageContainer1"></div>
            <div class="image-container" id="imageContainer2"></div>
            <div class="image-container" id="imageContainer3"></div>
            <div class="image-container" id="imageContainer4"></div>
            <input type="file" id="imageInput" accept="image/*" name ="images" multiple required>
        </div>
        </div>
        
          <div class="info">
            <label for="Marque">Marque de la Voiture :</label>
            <input type="text" id="Marque" name="Marque" required />

            <label for="Modele">Modèle de la Voiture :</label>
            <input type="text" id="Modele" name="Modele" required />

            <label for="Prix">Prix de la location par jour :</label>
            <input type="number" id="Prix" name="Prix" required />

            <label for="Vitesse">Vitesse de la Voiture :</label>
            <input type="number" id="Vitesse" name="Vitesse" required />

            <label for="Killometrage">Killometrage autorisé (Illimité ou preciser une valeur) :</label>
            <input type="text" id="Killometrage" name="Killometrage" required />

            <label for="Doc">Document requis pour conduire la Location :</label>
            <input type="text" id="Doc" name="Doc" required />

            <input type="submit" value="VALIDER" />
            <input type="reset" value="ANNULER" />
          </div>
        </section>
        <style>
          .modifier a {
            background: #287bff;
            color: #fff;
            border-radius: 6px;
            text-decoration: none;
          }
        </style>
        <p class="modifier" style="font-size: 17px">
          Souhaitez-vous modifiez les information d'une autre voiture ?
          <a href="{% url 'myapp:gestion' %}">Cliquez-ici</a>
        </p>
      </form>
    </main>
    <script src="{% static 'Administrator/JS/script.js' %}"></script>
  </body>
</html>
