{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Administrator/CSS/styles.css' %}">
    <title>Inscrivez-vous</title>
    <style>
        .back
        {
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: #fff;
            font-size: 20px;
            font-style: italic;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li> <button onclick="retourEnArriere()" class="back">Revenir en arrière</button></li>
                <a href=""><li style="color: #fff; text-transform: uppercase;"></li></a>
            </ul>
            <img src="{% static 'Global/Images/logo.png' %}" alt="logo">
        </nav>
    </header>

    <main>
        <h1>Enter votre Email</h1>
        <form action="{% url 'myapp:forget_password_admin_step1' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if message%}
                <h3 style="color:red;">{{message}}</h3>
            {% endif %}
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required>
            <input type="submit" value="Verification">
        </form>
    </main>
    <script src="{% static 'Administrator/JS/back.js' %}"></script>
</body>
</html>
