body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0636af;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #0dc871;
}

nav img {
    max-width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: 0;
}

main {
    text-align: center;
    margin: 20px;
}

h2 {
    color: #0636af;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 18px;
    margin-top: 10px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"],
input[type="reset"],
button[type="submit"] {
    background-color: #0636af;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button[type="submit"]:hover {
    background-color: #0dc871;
}

button[type="submit"] {
    margin-left: 10px;
    margin: auto;
    padding: auto;
    width: 100%;
    /* font-size: 10px; */
}

footer {
    background-color: #0636af;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 10px;
}

/* .images {
    position: relative;
    overflow: hidden;
    border: dashed rgb(127, 119, 119);
    padding: 12px;
} */

.images input[type="file"] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.button {
    display: inline-block;
    background-color: #0636af;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.info {
    margin-left: 10px;
    margin: auto;
    padding: auto;
}

.container .images [type="file"] {
    height: auto;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}


.image-preview img,
#imagePreview {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#imagePreview {
    margin-top: 15px;
}

.image-preview {
    display: none;
    /* Pour rendre l'image invisible par défaut */
    margin-top: 10px;
    /* Pour un espacement par rapport au bouton */
}

.delete {
    position: fixed;
    right: 0;
    bottom: 0;
}

p a button {
    color: #fff;
    /* border: solid var(--white); */
    background: #287bff;
    border-radius: 5px;
    height: 100%;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
}

