{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Administrator/CSS/admin-style.css' %}">
    <link rel="stylesheet" href="{% static 'Global/CSS/style.css' %}">
    <title>Connectez-vous</title>
    <style>
        .back
        {
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: #fff;
            font-size: 20px;
            font-style: italic;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>CONNECTEZ-VOUS</li>
            </ul>
            <img src="{% static 'Global/Images/logo.png' %}" alt="logo">
        </nav>
    </header>
    <main>
        <h2>QUI ÊTES VOUS ?!</h2>
        <br>
        <span for="client" class="link">Je suis un <b>CLIENT</b> : Je souhaite louer des voitures ! </span>
        <a href="{% url 'myapp:connexion-user' %}" class="link_">Cliquez ici</a> <br><br><br><br>
        <span for="admin" class="link">Je suis un <b>PROPRIETAIRE DE VOITURES</b> : Je souhaite proposer mes services ! </span>
        <a href="{% url 'myapp:connexion-admin' %}" class="link_">Cliquez ici</a><br><br><br><br><br>
        <span for="client" class="link"><b>PAS ENCORE DE COMPTE ?? </b></span>
        <a href="{% url 'myapp:SignUp' %}" class="link_">Cliquez ici pour vous inscrire</a>

    </main>
</body>
</html>
