{% load static %}
<header>
      <nav>
        {% if admin_id %}
          <ul>
          <li class="checked"><a href="{% url 'myapp:home' %}" class=""><ion-icon name="home-sharp"></ion-icon> Home</a></li>
          <li class="">
                <a href="{% url 'myapp:dashboard' %}" class=""><ion-icon name="analytics"></ion-icon> Page Pro</a>
          </li>
          <li class=""><a href="{% url 'myapp:profil-user' %}" class=""><ion-icon name="person-circle"></ion-icon> Compte Client</a></li>
        </ul>
        {% else %}
          <ul>
              <li class="checked"><a href="{% url 'myapp:home' %}" class=""><ion-icon name="home-sharp"></ion-icon> Home</a></li>
              <li class="checked"><a href="{% url 'myapp:search' %}" class=""><ion-icon name="car-sport-outline"></ion-icon> Louer une voiture</a></li>
              <li class=""><a href="{% url 'myapp:profil-user' %}" class=""><ion-icon name="person-circle"></ion-icon> Mon Compte</a></li>
              <li class=""><a href="{% url 'myapp:inscription-admin' %}" class=""><ion-icon name="person-add"></ion-icon> Devenir Pro</a></li>
          </ul>
        {% endif %}
        <img src="{% static 'Global/Images/logo.png' %}" alt="logo" />
      </nav>
</header>