{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'Client/CSS/style.css' %}" />
    <link rel="stylesheet" href="{% static 'Client/CSS/CARROUSEL/style.css' %}" />
    <link rel="stylesheet" href="{% static 'Client/CSS/test.css' %}" />
    <link rel="stylesheet" href="{% static 'Client/CSS/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Louer votre Voiture !</title>
  </head>
  <body>
    {% include 'Client/header.html' %}
    <section>
      <div class="container">
        <form action="{% url 'myapp:recherche_voiture' %}" method="post">
          {% csrf_token %}
          <ion-icon name="search-sharp" class="fa"></ion-icon>
          <input type="search" name="search_car"placeholder="What you are looking for ?" required />
          <button type="submit" name="submit">Rechercher</button>
        </form>
      </div>
    </section>
    <section>
      <h2>News <ion-icon name="newspaper-sharp"></ion-icon></h2>
      <section class="carousel-container">
        <section class="carousel">
          {% for voiture in news_cars %}
            <div class="car_">
              <a href="{% url 'myapp:louer' voiture.idVoiture %}" class="louer" title="Cliquez pour plus d'informations">
                <img src="{{ voiture.image_set.first.Image_voiture.url }}" />
              </a>
                <div class="car-info">
                  <h2>{{voiture.Modele}}</h2>
                  <p>Vitesse: {{voiture.vitesse}} km/h</p>
                  <p>Prix de location (jour) : {{voiture.Prix_location_jour}}FCFA</p>
                  <p>Kilométrage autorisé:
                    {% if voiture.Killometrage == "Illimité" %}
                        {{voiture.Killometrage}}
                    {% else %}
                        {{voiture.Killometrage}} km/h
                    {% endif %}
                  </p>
                </div>
            </div>
          {% endfor %}
        </section>

        <button class="prev" style="display: none;">&lt;</button>
        <button class="next">&gt;</button>
      </section>
    </section>
    <section>
      <h2>Les Mieux Notées <ion-icon name="star-sharp"></ion-icon></h2>
      <div class="image-grid">
        {% for voiture in top10best %}
          <div>
            <div class="image-container">
              <div class="car">
                <a href="{% url 'myapp:louer' voiture.idVoiture %}" class="louer" title="Cliquez pour plus d'informations">
                  <img src="{{ voiture.image_set.first.Image_voiture.url }}" alt="" />
                </a>
                  <div class="car-info">
                    <h2>{{voiture.Modele}}</h2>
                    <p>Vitesse: {{voiture.vitesse}} km/h</p>
                    <p>Prix de location (jour) : {{voiture.Prix_location_jour}} FCFA</p>
                    <p>Kilométrage autorisé:
                      {% if voiture.Killometrage == "Illimité" %}
                        {{voiture.Killometrage}}
                      {% else %}
                        {{voiture.Killometrage}} km/h
                      {% endif %}
                    </p>
                  </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
    <div class="center-buttons">
      <a href="{% url 'myapp:search' %}"
        ><button class="action-button">Louez une voiture</button></a
      >
      {% if admin_id %}
        <a href="{% url 'myapp:dashboard' %}"
        ><button class="action-button">Page Pro</button></a
        >
      {% else %}
        <a href="{% url 'myapp:inscription-user' %}"
        ><button class="action-button">Devenez Pro</button></a
        >
      {% endif %}
      {% include 'Client/footer.html' %}
    </div><br><br>
    <script src="{% static 'Client/JS/CARROUSEL/script.js' %}"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
